<nav class="navbar navbar-brand">
  <div class="container-fluid">
    <ul class="nav">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
         <a routerLink="customers" style="margin: 10px; background-color: lightgray"> [ Klienci ] </a>
      </li>
      <li routerLinkActive="active">
         <a routerLink="customers/add" style="margin: 10px; background-color: lightgray"> [ Dodaj klienta ] </a>
      </li>
      <li routerLinkActive="active">
         <a routerLink="contracts" style="margin: 10px; background-color: lightgray"> [ Umowy ] </a>
      </li>
    </ul>
  </div>
</nav>
